<p id="notice"><%= notice %></p>



<%= form_tag(balls_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Balls" %>
<%= submit_tag "Search" %>
<% end %>
<h1>Balls</h1>

<%= link_to 'Add New Ball', new_ball_path, :class => "btn btn-success"%>
<table class="table">
  <thead class="thead thead-inverse">
    <tr>
      <th>Brand</th>
      <th>Size</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balls.each do |ball| %>
      <tr>
        <td><%= ball.brand %></td>
        <td><%= ball.size %></td>
        <td><%= ball.description %></td>
        <td><%= link_to 'Show', ball,:class => "btn btn-info btn-lg round btn-sm" %></td>
        <td><%= link_to 'Edit', edit_ball_path(ball) , :class => "btn btn-default btn-lg round btn-sm" %></td>
        <td><%= link_to 'Destroy', ball, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger btn-lg round btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
